# Явный разделитель операторов
semi: true
# Компактные кавычки
singleQuote: true
# Оптимальная ширина строки
printWidth: 100
# Упрощает расширение коллекции
trailingComma: all
# Для компактности
tabWidth: 2
# Стабильный вид стрелочной функции при 1/2+ аргументов
arrowParens: always
